.wrapper {
 display: block;
 overflow: hidden;
 position: relative;
 width: 100%
}

.wrapper .container {
 max-width: 80rem
}

.wrapper > .container {
 padding-bottom: 3.5rem;
 padding-top: 3.5rem
}

.wrapper > .nav {
  padding: 2.0rem;
  max-width: 80rem;
  margin: 0 auto;
}

tr.no-border > td, th {
  border-bottom: none;
}
