.wrapper {
 display: block;
 overflow: hidden;
 position: relative;
 width: 100%
}

.wrapper .container {
 max-width: 80rem
}

.wrapper > .container {
 padding-bottom: 3.5rem;
 padding-top: 3.5rem
}

.wrapper > .nav {
  padding: 2.0rem;
  max-width: 80rem;
  margin: 0 auto;
}

tr.no-border > td, th {
  border-bottom: none;
}

td > .button,
td > input {
    margin-bottom: 0 !important;
}

td > input[type="checkbox"] + label {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 1.5rem;
}

td > input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.form-error {
    color: red;
}

nav > a {
    padding-right: 1.5rem;
}
