<!DOCTYPE HTML>

<html>

<head>
    <meta charset="UTF-8" />
    <title>Time Tracker | Neuer Eintrag</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/milligram.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>

<body>

<main class="wrapper">
    <nav class="nav">
        <a href="/weeks/0">Aktuelle Woche</a>
        <a href="/weeks/-1">Letzte Woche</a>
    </nav>

    <div class="container">
        <h1>Neuer Eintrag</h1>

        <form name="timeEntry" method="POST" action="{{#id}}/entries/{{id}}{{/id}}{{^id}}/entries/new{{/id}}">
            {{#error}}<span class="form-error">Bitte korrigiere deine Eingaben.</span>{{/error}}
            <fieldset>
                <input type="hidden" name="id" value="{{#id}}{{id}}{{/id}}">
                <label for="dayField">Datum</label>
                <input type="date" name="day" value="{{#timeEntry.day}}{{timeEntry.day}}{{/timeEntry.day}}" placeholder="yyyy-MM-dd" autocomplete="off" id="dayField">
                <label for="startField">Start</label>
                <input type="text" name="startTime" value="{{#timeEntry.startTime}}{{timeEntry.startTime}}{{/timeEntry.startTime}}" placeholder="08:30" autocomplete="off" id="startField">
                <label for="endField">Ende</label>
                <input type="text" name="endTime" value="{{#timeEntry.endTime}}{{timeEntry.endTime}}{{/timeEntry.endTime}}" placeholder="09:00" autocomplete="off" id="endField">
                <label for="descriptionField">Beschreibung</label>
                <input type="text" name="description" value="{{#timeEntry.description}}{{timeEntry.description}}{{/timeEntry.description}}" placeholder="Daily" id="descriptionField">
                <input class="button-primary" type="submit" value="Speichern">
                <a class="button button-outline" href="/entries?date={{timeEntry.day}}">Abbrechen</a>
            </fieldset>
        </form>
    </div>

</main>

</body>

</html>
