<!DOCTYPE HTML>

<html>

<head>
    <meta charset="UTF-8" />
    <title>Time Tracker | Einträge für {{workDay.day}}</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/milligram.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>

<body>

<main class="wrapper">
    <nav class="nav"><a href="/">Übersicht</a></nav>

    <div class="container">
        <h1>{{workDay.day}}</h1>

        <table>
            <thead>
            <tr>
                <th>Start</th>
                <th>Ende</th>
                <th>Beschreibung</th>
                <th>Dauer</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#workDay.timeEntries}}
            <tr>
                <td>{{startTime}}</td>
                <td>{{endTime}}</td>
                <td>{{issue}} – {{description}}</td>
                <td>{{duration}}</td>
                <td>{{#id}}<a class="button button-outline" href="/entries/{{id}}">Edit</a>{{/id}}</td>
            </tr>
            {{/workDay.timeEntries}}
            <tr class="no-border">
                <td colspan="3"></td>
                <td><b>{{workDay.workDuration}}</b></td>
                <td><a class="button" href="/entries/new?date={{workDay.day}}">Neu</a></td>
            </tr>
            </tbody>
        </table>

        <h2>Buchen</h2>
        <table style="width: auto;">
            <tbody>
            {{#workDay.trackingProposals}}
                <tr>
                    <td>{{issue}} – {{description}}</td>
                    <td>{{duration}}</td>
                </tr>
            {{/workDay.trackingProposals}}
            <tr class="no-border">
                <td></td>
                <td><b>{{workDay.workDuration}}</b></td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

</body>

</html>
