<!DOCTYPE HTML>

<html>

<head>
    <meta charset="UTF-8" />
    <title>Time Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/milligram.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>

<body>

<main class="wrapper">

    <div class="container">
        <h1>Hello {{name}}</h1>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        <a class="button" href="/tracking">Click me</a>
    </div>

</main>

</body>

</html>
