<!DOCTYPE HTML>

<html>

<head>
    <meta charset="UTF-8" />
    <title>Time Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/milligram.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>

<body>

<main class="wrapper">

    <div class="container">
        <h1>Alle Einträge</h1>
        <ul>
        {{#workDays}}
            <li><a href="/entries?date={{.}}">{{.}}</a></li>
        {{/workDays}}
        </ul>
        <a class="button" href="/entries/new">Neuer Eintrag</a>
    </div>

</main>

</body>

</html>
